.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15px;
    background-color: white;

    svg {
        width: 30px;
        height: 30px;
        fill: gray;
        cursor: not-allowed;
        /* filter: grayscale(20); */
    }

    .recent {
        cursor: pointer;
    }

    .keypad {
        width: 60px;
        height: 60px;
    }

    .archive-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
        font-size: 12px;

        svg {
            cursor: pointer;
        }
    }

    .archive-count {
        position: absolute;
        background-color: red;
        padding: 3px 6px;
        border-radius: 70%;
        color: white;
        font-size: 12px;
        top: -2px;
        right: -5px;
    }

    .voicemail-icon {
        svg {
            cursor: pointer;
        }
    }

    .footer-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 12px;
        height: 100%;
    }
}